extends ./layouts/default
block title
    title koa index
block content 
    .container
        .row
            .col-md-8
                h1 Hi #{you}
                p this is #{me}
            .col-md-4
                p 测试pug模板引擎2
